@charset "utf-8";

@font-face{
  font-weight: 400;
  font-style: normal;
  font-family: "Stem Text";
  src: url("/fonts/StemText.woff") format("woff");
}

@font-face{
  font-weight: 700;
  font-style: normal;
  font-family: "Stem Text";
  src: url("/fonts/StemTextBold.woff") format("woff");
}
/* Reset
----------------------------------------------------------------------------- */
/* stylelint-disable */
html, body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, address, code, img, dl, dt, dd, ol, ul, li, fieldset, form, label, table, th, td, article, aside, nav, section, figure, figcaption, footer, header, audio, video{
  margin: 0;
  padding: 0;
}
blockquote, img, fieldset, form{
  border: 0;
}
a, strong, em, b, i, small, sub, sup, img, label, th, td, audio, video{
  vertical-align: baseline;
}
applet, object, iframe, abbr, acronym, big, cite, del, dfn, ins, kbd, q, s, samp, strike, tt, var, u, center, legend, caption, tbody, tfoot, thead, tr, canvas, details, embed, menu, output, ruby, summary, time, mark{
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}
ul, ol{
  list-style: none;
}
/* Border-box FTW
https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*, *:before, *:after{
  box-sizing: inherit;
}
html{
  overflow-y: scroll;
  box-sizing: border-box;
  text-size-adjust: 100%;
}
a{
  background-color: transparent;
  /* Remove the gray background color from active links in IE 10. */
  -webkit-text-decoration-skip: none;
}
a:hover, a:active{
  outline: 0;
}
img{
  vertical-align: middle;
}
strong, b{
  font-weight: bold;
}
em, i{
  font-style: italic;
}
h1, h2, h3, h4, h5, h6{
  font-weight: bold;
}
table{
  border-spacing: 0;
  border-collapse: collapse;
}
th{
  font-weight: bold;
}
td{
  vertical-align: top;
}
input, select, textarea, button{
  margin: 0;
  vertical-align: middle;
  font-size: 100%;
  font-family: inherit;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"], [type="radio"]{
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 * 2. Show the overflow in Edge, Firefox, and IE.
 */
button, input, select{
  /* 2 */
  overflow: visible;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select{
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html [type="button"], [type="reset"], [type="submit"]{
  cursor: pointer;
  /* 3 */
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner, input::-moz-focus-inner{
  padding: 0;
  border: 0;
}
/**
 * 1. Remove the default vertical scrollbar in IE.
 */
textarea{
  overflow: auto;
  /* 1 */
  resize: vertical;
}
svg:not(:root){
  overflow: hidden;
  /* Correct overflow not hidden in IE. */
}
/**
 * Correct the odd appearance of search inputs in Chrome and Safari.
 */
[type="search"]{
  -webkit-appearance: textfield;
}
/**
 * Remove the inner padding and cancel buttons in Chrome on OS X and
 * Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration{
  -webkit-appearance: none;
}
/* stylelint-enable */
.btn{
  cursor: pointer;
  height: 60px;
  text-decoration: none;
  padding: 0 20px;
  text-align: center;
  background: #ff5e5e;
  transition: opacity 200ms;
  color: white;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1.5px;
  display: flex;
  align-items: center;
}
.btn:hover, .btn:focus{
  opacity: .8;
  transition: none;
}
.btn:active{
  background: #f64242;
}
.btn:visited, .btn:hover, .btn:active{
  color: white;
}
.btn--icon{
  margin-right: 16px;
  margin-top: 6px;
}

html, body {
  height: 100%;
  width: 100%;
  min-width: 300px;
}

body {
  background: #fff;
  color: #363636;
  font: 18px/30px "Arial",sans-serif;
}

.fonts-loaded body {
  font-family: "Stem Text","Arial",sans-serif;
}

a {
  text-decoration: none;
  color: #ff5e5e
}

a:visited, a:active{
  color: #ff5e5e;
}

a:hover{
  opacity: 0.8;
}

h1 {
  font-size: 70px;
  line-height: 90px;
  letter-spacing: 2px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 1.5px;
}

h4 {
  font-size: 14px;
  color: #9e9e9e;
  font-weight: normal;
}

.main {
  height: 100%;
  width: 100%;
}

.mobile-only {
  display: none;
}

@media (max-width: 800px) and (min-width: 601px) {
  body {
    font-size: 3vw;
    line-height: 5vw;
  }

  h1 {
    font-size: 14vw;
    line-height: 18vw;
  }

  h2 {
    font-size: 5vw;
    line-height: 7vw;
  }

  h4 {
    font-size: 2vw;
  }
}


@media (max-width: 600px) {
  body {
    font-size: 4vw;
    line-height: 6vw;
  }

  h1 {
    font-size: 14vw;
    line-height: 18vw;
  }

  h2 {
    font-size: 10vw;
    line-height: 12vw;
  }

  h4 {
    font-size: 3vw;
  }

  .mobile-only {
    display:  block;
  }

  .desktop-only {
    display: none !important;
  }
}

.illustration{
  transform: translate3d(0,0,0);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
  width: 50%;
  box-sizing: border-box;
  border-right: solid 1px #e3e3e3;
}

.illustration--content{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  padding-right: 120px;
}

@media (max-width: 800px) and (min-width: 601px){

  .illustration{}

  .illustration--content{
    padding-right: 60px;
  }
}

.i-logo{
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.frame-1 .i-logo{
  transform: scale(2) translate(33px, 80px);
}

.frame-2 .i-logo{
  transform: scale(1) translate(106px, 0);
}

.frame-3 .i-logo{
  transform: scale(1) translate(106px, 380px);
}

.frame-3 .i-logo .i-leg, .frame-3 .i-logo .i-leg{
  transition: opacity 500ms;
  opacity: 0;
}

.frame-4 .i-logo{
  transform: scale(2) translate(33px, 40px);
}

.i-chart{
  transition: transform 500ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.i-chart .i-arrow{
  transition: opacity 500ms;
  opacity: 0;
  transition-delay: 250ms;
}

.i-chart .i-anycable-text{
  display: none;
  transition-delay: 250ms;
}

.i-chart .i-question{
  transition: transform 400ms cubic-bezier(0.215, 0.61, 0.355, 1);
}

.frame-1 .i-chart, .frame-4 .i-chart{
  transform: translate(0, 1000px);
}

.frame-2 .i-chart{
  transform: translate(0, 280px);
}

.frame-3 .i-chart{
  transform: translate(0, 280px);
}

.frame-3 .i-chart .i-ws-box{
  stroke: #363636;
}

.frame-3 .i-chart .i-ws-logo{
  fill: #f64242;
}

.frame-3 .i-chart .i-arrow{
  opacity: 1;
}

.frame-3 .i-chart .i-anycable-text{
  display: block;
}

.frame-3 .i-chart .i-question{
  transform: translateY(450px);
}
.slide{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: 100%;
  position: relative;
  box-sizing: border-box;
}
.slide--item{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 60px;
  box-sizing: border-box;
  width: 50%;
}
.slide--text{
  margin: 36px 0;
}
.slide--text.grey{
  color: #9e9e9e;
}
.slide--code{
  margin: 36px 0;
  font-family: Roboto Mono, monospace;
}
.slide--code .comment{
  color: #1f6526;
}
.slide--code .string{
  color: #a12a17;
}
.slide--actions{
  position: absolute;
  bottom: 30px;
  display: flex;
  cursor: pointer;
  transition: opacity 200ms;
}
.slide--actions:hover, .slide--actions:focus{
  opacity: .8;
  transition: none;
}
.slide--actions.is-hidden{
  opacity: 0;
}
.slide--action-arrow{
  background: #f64242;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slide--action-arrow svg{
  margin-top: 2px;
}
.slide--action-text{
  color: #9e9e9e;
  margin-left: 10px;
}
@media (max-height: 600px), (max-width: 800px){

  .slide{}

  .slide--actions{
    display: none;
  }
}
@media (max-width: 600px){

  .slide{
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .slide--item{
    padding: 30px;
    width: auto;
    border: none;
    align-items: center;
  }

  .slide--image{
    text-align: center;
  }

  .slide--image svg{
    width: 70vw;
  }
}
@media (min-width: 601px){

  .slide--item{
    padding-top: 30vh !important;
  }
}
.topnav{
  position: fixed;
  top: -100px;
  left: 50%;
  right: 0;
  z-index: 30;
  display: flex;
  transition: top 200ms cubic-bezier(0.215, 0.61, 0.355, 1);
  justify-content: space-between;
  padding: 60px;
}
.is-bubbling .topnav{
  top: 0;
}
.topnav--title{
  color: #ff5e5e;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 2px;
}
.topnav--btn{
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
}
@media (max-width: 800px) and (min-width: 601px){

  .topnav{
    left: 0;
  }
}
.slide--chart{
  display: flex;
  justify-content: flex-start;
}
.slide--chart--item{
  margin-right: 10px;
  flex-grow: 1;
  position: relative;
}
.slide--chart--item > img, .slide--chart--item > svg{
  width: 100%;
  height: auto;
}
.slide--chart--captions{
  display: flex;
  justify-content: space-around;
}
.slide--chart--caption{
  text-align: center;
  margin-top: 10px;
  font-size: 16px;
  color: #9e9e9e;
}
.slide--chart--caption.red{
  color: #f64242;
}
.slide--chart--caption.orange{
  color: #f6a623;
}
.slide--chart--caption.green{
  color: #7ed321;
}
@media (max-width: 600px){

  .slide--chart--caption{
    font-size: 3vw;
  }
}
.memory-chart{}
.memory-chart--item{
  flex-grow: 1;
  flex-basis: 30%;
}
.memory-figure{
  display: block;
}
.memory-figure.red{
  background: #f64242;
}
.memory-figure.green{
  background: #7ed321;
}
.memory-figure.orange{
  background: #f6a623;
}
.features--list{
  margin-top: 20px;
}
.features--item{
  display: flex;
  margin-bottom: 20px;
}
.features--item--icon{
  width: 60px;
  text-align: center;
  margin-right: 10px;
  flex-shrink: 0;
}

.main-slide{}

.main-slide--title{
  display: inline;
  position: relative;
}

.main-slide--title.alpha:after{
  content: url('/images/alpha.svg');
  position: absolute;
  top: -8px;
  right: -16px;
  line-height: 0;
}

.main-slide--btn{
  position: absolute;
  left: 0;
}

@media (max-width: 960px) and (min-width: 801px){

  .main-slide{}

  .main-slide--title{
    font-size: 7vw;
  }
}

@media (max-width: 800px) and (min-width: 601px){

  .main-slide{}

  .main-slide--title{
    font-size: 6vw;
  }
}

@media (max-width: 600px){

  .main-slide{
    flex-direction: column;
    margin-bottom: 60px;
  }

  .main-slide--logo svg{
    width: 40vw;
    padding: 10vw 0;
  }
}
.ac-slide{}
.ac-slide--top-image{
  position: absolute;
  top: 30px;
}
.ac-slide--image{
  margin-top: 90px;
}
@media (max-width: 600px){

  .ac-slide{}

  .ac-slide--top-image{
    display: none;
  }

  .ac-slide--image{
    margin-top: 0;
  }
}
.footer{
  width: 100%;
  z-index: 20;
  padding: 60px;
  display: flex;
  justify-content: space-around;
  background: #363636;
  position: relative;
  overflow: hidden;
}
.footer h3{
  color: white;
  font-weight: normal;
}
.footer--block{
  color: white;
  font-size: 14px;
  position: relative;
}
.footer--block.legals{
  color: #9e9e9e;
}
.footer--humanoids{
  position: absolute;
  bottom: -70px;
}
.copyright{
  position: relative;
}
.copyright:before{
  content: '©';
  position: absolute;
  left: -20px;
  top: 0;
  line-height: 10px;
}
@media (max-width: 600px){

  .footer{
    flex-direction: column;
    padding: 60px 30px 30px 30px;
  }

  .footer--block{
    margin-bottom: 30px;
    font-size: 4vw;
    line-height: 7vw;
  }

  .footer--block.legals{
    align-self: center;
    margin-top: 30px;
  }

  .copyright{}

  .copyright:before{
    left: -5vw;
    line-height: 3vw;
  }
}
@keyframes humanoids-blink{

  0%, 48%{
    transform: scaleY(1);
  }

  50%{
    transform: scaleY(0);
  }

  52%, 100%{
    transform: scaleY(1);
  }
}
.humanoids{
  position: absolute;
  bottom: -10px;
  width: 150px;
  height: 60px;
  margin: 0 auto 0 -10px;
  font-size: 0;
}
.humanoids circle{
  transform: scaleY(1);
  transform-origin: 50%;
  animation-duration: 8s;
  animation-name: humanoids-blink;
  animation-iteration-count: infinite;
}
.humanoids svg{
  height: 60px;
}
.humanoids__human, .humanoids__martian{
  position: absolute;
  width: 80px;
  height: 90px;
  transition: transform 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transform: translateY(0);
}
.humanoids__human:hover, .humanoids__martian:hover{
  transform: translateY(-12px);
}
.humanoids__martian{
  left: 0;
}
.humanoids__human{
  right: 0;
}
.humanoids__human circle{
  animation-delay: 0.5s;
}

/*# sourceMappingURL=main.css.map */
