<head>
  <title>AnyCable: build lightning fast, reliable real-time applications with Ruby and Rails</title>
  <meta name="viewport" content="width=device-width"/>
  <meta charset="UTF-8"/>
  <meta http-equiv="Permissions-Policy" content="interest-cohort=()"/>
  <link rel="stylesheet" href="/main.css"/><!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPCXB7B');</script>
<!-- End Google Tag Manager -->

  <meta name="description" content="Add real-time features to your Ruby on Rails application without ever having to switch to another platform or language."/>
  <meta name="keywords" content="anycable, ruby on rails, rails, actioncable, websocket, grpc, ruby, erlang, golang"/>
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png"/>
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
  <link rel="manifest" href="/manifest.json"/>
  <meta name="theme-color" content="#000000"/><!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="AnyCable: build lightning fast, reliable real-time applications with Ruby and Rails"/>
  <meta itemprop="description" content="Add real-time features to your Ruby on Rails application without ever having to switch to another platform or language. Stay productive by writing clean, maintainable code in Ruby while being sure that your application scales without costing a fortune to run it."/>
  <meta itemprop="image" content="https://anycable.io/images/share.png"/><!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image"/>
  <meta name="twitter:site" content="@any_cable"/>
  <meta name="twitter:title" content="AnyCable: build lightning fast, reliable real-time applications with Ruby and Rails"/>
  <meta name="twitter:description" content="Add real-time features to your Ruby on Rails application without ever having to switch to another platform or language."/>
  <meta name="twitter:creator" content="@any_cable"/>
  <meta name="twitter:image" content="https://anycable.io/images/share.png"/><!-- Open Graph data -->
  <meta property="og:title" content="AnyCable: build lightning fast, reliable real-time applications with Ruby and Rails"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="https://anycable.io/"/>
  <meta property="og:image" content="https://anycable.io/images/share.png"/>
  <meta property="og:description" content="Add real-time features to your Ruby on Rails application without ever having to switch to another platform or language. Stay productive by writing clean, maintainable code in Ruby while being sure that your application scales without costing a fortune to run it."/>
  <meta property="og:site_name" content="AnyCable"/><script type=application/ld+json>
  {
    "@context": "http://schema.org/",
    "@type": "WebSite",
    "name": "AnyCable",
    "url": "https://anycable.io"
  }
</script>
<script type=application/ld+json>
  {
    "@context": "http://schema.org/",
    "@type": "SoftwareSourceCode",
    "image": "https://anycable.io/images/logos/anycable.png",
    "name": "AnyCable",
    "description": "Add real-time features to your Ruby on Rails application without ever having to switch to another platform or language. Stay productive by writing clean, maintainable code in Ruby while being sure that your application scales without costing a fortune to run it.",
    "codeRepository": "https://github.com/anycable/anycable"
  }
</script>
<script type=application/ld+json>
  {
    "@context": "http://schema.org/",
    "@type": "SoftwareApplication",
    "image": "https://anycable.io/images/logos/anycable.png",
    "name": "AnyCable",
    "applicationCategory": "Web",
    "operatingSystem": "Any"
  }
</script>

</head>